/*GLOBAL|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
div.wrapper{
	width: 960px;
	margin: 0px auto;
	position: relative;
	overflow: hidden;
}
/*HEADER|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
body{
	margin: 0px;
	font-size: 62.5%;
	background-color: #000;
}
header section h1{
	color: #fff;
	padding: 0px;
	top: 96px;
	left: 218px;
	right: 436px;
	margin: 0px;
	position: absolute;
/*	background-color: rgba(139,134,130,.5);*/
	font: 11em normal bold 'Economica', sans-serif;
}
header section h1 span{
	float:right;
}
header section h1 span#tron{
	margin-right: -49px;
	font-size: 1.4em;
	margin-top: -51px;
}
header section h1 span#gaming{
	margin-right: 30px;
	margin-top: -104px;
	font-size: 1.8em;
	background: -webkit-gradient(linear, left top, left bottom, from(#aadee9), to(#46c3d5));
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	z-index: 30;
}
header section h1 span#products{
	margin-right: 3px;
	margin-top: -69px;
	font-size: 1.3em;
	background: -webkit-gradient(linear, left top, left bottom, from(#46c3d5), to(#aadee9));
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	z-index: -50;
}
header section h1 span#by{
	margin-right: 70px;
	margin-top: -39px;
	font-size: .6em;
}
header section h1 span#razer{
	margin-right: -167px;
	margin-top: -40px;
	font-size: .6em;
}

header section nav{
	width: 100%;
	overflow: hidden;
	margin: 20px 0px 400px;
	border-bottom: 5px solid #fff;
}
header section nav ul{
	float: right;
}
header section nav ul li{
	float: right;
	margin-right: 20px;
}
header section nav ul li a{
	color: #fff;
	text-decoration: none;
	font: 2em normal bold Helvetica, sanserif;
}
header img{
	top: 100px;
	left: 50%;
	width: 60%;
	z-index: -100;
	clear: both;
	position: fixed;
	-webkit-transform:rotate(-10deg);
}



/*CTA|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
section#cta{
	background-color: #fff;
	width: 100%;
	z-index: 2;
	clear: both;
/*	-webkit-box-shadow: 1px 1px 10px rgba(0,255,127,.8);;
	-moz-box-shadow: 1px 1px 10px rgba(0,255,127,.8);;*/
}
section#cta h1{
	font: 2em normal bold Helvetica, sanserif;
	margin: 0px;
	padding: 10px 40px 10px;
}
/*calling out my columns class in cta section---------*/
div.columns{
	-moz-column-count: 2;
	-moz-column-gap: 30px;
	-webkit-column-count: 2;
	-webkit-column-gap: 30px;
	font: 1.5em normal bold Helvetica, sanserif;
	padding: 10px 40px 10px;
}
section#cta div.columns p{
	text-transform: justify;

}

/*OVERVIEW|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
section#overview{
	background-color: #fff;
	-webkit-box-shadow: 1px 1px 10px rgba(0,255,127,.8);;
	-moz-box-shadow: 1px 1px 10px rgba(0,255,127,.8);;
}
section#overview h2{
	font: 2em normal bold Helvetica, sanserif;

}
section#overview p{
	font: 2em normal bold Helvetica, sanserif;
}
section#overview dl{
	font: 2em normal bold Helvetica, sanserif;
}

/*GALLERY|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*TECHNICAL SPECS|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*FOOTER|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
