/*DWS Lab1 CSS File*/
html{
	margin: -21px 0px 0px 11px;
	background-color: white;
}
body{
	padding: 15px;
	width: 800px;
	margin: 0px auto;
	background-color: #eee8cd;
	color:#000;
}
h1{
	background-color: #000;
	color: #fff;
	padding: 0px 10px;
}
ol{
	margin-left: 10px;
	padding: 0px;
	list-style: none;
}
nav a{
	color: #c0c0c0;
	display: inline;
	margin: 50%;
	width: 50px;
}