/*DWS Lab1 CSS File*/
* html {
	margin: -21px 0px 0px 10px;
	background-color: white;

}
body{
	padding: 15px;
	width: 800px;
	margin: 0px auto;
	background-color: #eee8cd;
	color: #000;
	font-family: Helvetica Nue, Arial, "MS Trebuchet", sans-serif;
}
h1{
	padding: 10px 10px;
	margin: 0px auto;
	width: 250px;
}
ol{
	margin-left: 10px;
	padding: 0px;
	list-style: none;
}
nav{	
	width: 60%;
	margin: 0px auto;
}
a{
	color: #c0c0c0;
	display: inline;
	margin: 0px 5px;
}
a:hover {
	color: #000;
}
.classisntreallyneededherebuttheassignmentcallsforone{
	margin: 95px auto 5px auto;
	width: 300px;
}
#bodycontent{
	margin-top: 50px;
	width: 500px;
}
a, nav, ol{
	padding: 10px;
}
nav a {
	padding: 0px;
}

/*css trick I found, using psuedo elements*/
#star-six {
	width: 0px;
	height: 0px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #c0c0c0;
	position: relative;
}
#star-six:after {
	width: 0px;
	height: 0px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid #c0c0c0;
	position: absolute;
	content: "";
	top: 30px;
	left: -50px;
}
/*css trick I found, using psuedo elements*/
#wrapper {
	width: 100px;
	margin: 0px auto;
}