/*=body style*/
body{
	color: #fff;
	background-color: #000;
	font-size: 62.5%;
}
/*=h1 style*/
h1, h2, h3{
	font: normal normal normal 5em/1.5em "Helvetica Neue", sans-serif;
}
/*=ul style*/
ul, ol{
	list-style-type: square;
	opacity: .5;
	font-size: 3em;
}
li a, ol{
	color: #fff;
}
/*=copy style*/
body>p{
	font-style: italics;
	font-variant: small-caps;
	font-weight: bolder;
	font-size: 3em;
	font-height: 1.6em;
	font-family: Helvetica, sans-serif;
	text-align: right;
	text-decoration: underline;
	line-height: 50%;
	vertical-align: baseline;
	color: rgba(000, 000, 000, .5);
	text-shadow: 10px 10px 20px #fff;
	letter-spacing: 50px;
	word-spacing: 10px;
	text-indent: 100px;
	text-transform: uppercase;
}